<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add Apartment</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="content">
            <a class="btn" href="/main">Головна сторінка</a>
            <form action="#" th:action="@{/saveApartment}" th:object="${apartment}" method="post">
                <p>Name: <input type="text" th:field="*{name}" /></p>
                <p>Keywords: <input type="text" th:field="*{keywordsInString}" /></p>
                <p>Description: <textarea th:field="*{description}" cols="150" rows="15" placeholder="Основна інформація"></textarea>
                <p><input type="submit" value="Submit"/>
                    <input type="reset" value="Reset"/>
            </form>
        </div>
    </body>
</html>