<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Apartment</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="content">
            <a class="btn" href="/main">Main page</a>
            <p class="info">Information about apartment</p>
            <p class="info">Name - <span th:utext="${apt.getName()}"></span></p>
            <p class="info">Features - <span th:utext="${apt.getKeywordsInString()}"></span></p>
            <p class="info">Description - <span th:utext="${apt.getDescription()}"></span></p>
            <a th:href="@{'/apartment/edit/' + ${apt.id}}">Edit</a> <!-- Потом сделать видимым только если авторизован-->
            <form th:method="DELETE" th:action="@{'/apartment/' + ${apt.id}}">
                <input type="submit" value="Delete apartment">
            </form>
            <!--            <a th:href="@{'/apartment/delete/' + ${apt.id}}">Видалити</a>-->
        <!--    <jstl:choose>-->
        <!--        <jstl:when test="${not empty sessionScope.user}">-->
        <!--            <form method="post" action="controller?do=editBlank">-->
        <!--                <input type="hidden" name="blank" value="${requestScope.blank.naming}">-->
        <!--                <input type="submit" value="Редагувати"/>-->
        <!--            </form>-->
        <!--            <form method="post" action="controller?do=delete">-->
        <!--                <input type="hidden" name="blank" value="${requestScope.blank.naming}">-->
        <!--                <input type="submit" value="Видалити"/>-->
        <!--            </form>-->
        <!--            <a class = "red" href="controller?do=main">Повернутися до списку квартир</a>-->
        <!--        </jstl:when>-->
        <!--    </jstl:choose>-->
        </div>
    </body>
</html>