<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Apartment</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="content">
            <a class="btn" href="/main">Main page</a>
            <form th:method="PATCH" th:action="@{'/apartment/' + ${apt.id}}" th:object="${apartment}">
                <p>Name: <input type="text" name="newName" th:value="*{getName()}" th:field="*{name}"
                                placeholder="Name of the apartment" size="150 "/></p>
                <p>Features: <input type="text" name="newKeywords" th:value="*{getKeywordsInString()}"
                                    th:field="*{keywordsInString}" placeholder="Features (split by ', ')" size="150"/></p>
                <p>Description: <textarea name="newDescription" th:field="*{description}"
                                          cols="150" rows="15" placeholder="Information about apartment"></textarea></p>
                <input type="submit" value="Edit"/>
            </form>
        </div>
    </body>
</html>