<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Edit Apartment</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <div class="content">
            <a class="btn" href="/main">Головна сторінка</a>
            <form action="#" th:action="@{/saveApartment}" th:object="${command}" method="post">
                <p>Name: <input type="text" name="newName" th:value="*{getName()}" th:field="*{name}"
                                placeholder="Заголовок" size="150 "/></p>
                <p>Keywords: <input type="text" name="newKeywords" th:value="*{getKeywordsInString()}"
                                    th:field="*{keywordsInString}" placeholder="Параметри (через кому)" size="150"/></p>
                <p>Description: <textarea name="newDescription" th:field="*{description}"
                                          cols="150" rows="15" placeholder="Інформація"></textarea></p>
                <input type="submit" value="Редагувати"/>
            </form>
        </div>
    </body>
</html>